---
#YAML comment

LightBlue: '#4378c8'
PurplishRed: '#ff0066'
LightPurplishRed: '#f62651'
LightBlack: '#434343'

sitemap:
  exclude: 'yes'

---

{% include normalize.css %}
{% include cantarell_fontface.css %}
{% include opensans_fontface.css %}

/*
* height chain to move the footer at th bottom of the page.  Only the last
* element should have min-height 100% instead of height, since the parent stated
* height and not the computed one is taken into account by standard complaint
* browsers.
*/
html, body { 
    height:100%;
}

body {
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
}

#main {
     min-height:100%;
     margin-bottom: -150px; /* footer total height */
}

h1, h2, h3 {
    font-family: 'cantarell', serif;
}
h1 {
    font-size:200%;
}

h2 {
    font-size:150%;
}

h3 {
    font-size:120%;
}

header {
   padding:30px 0px 15px 0px;
   border-top: 3px solid {{ page.LightBlue }} ;
}

header h1 {
    display:inline;
    font-size:1.6em;
    padding:10px 30px 10px 0px;
    font-weight:normal;
    margin:0;

}

header  h1 a, header h1 a:visited {
    color: black;
}

header h2 {
    display:inline;
    font-size:1.1em;
    color:#4d4d4d;
    font-weight:normal;
    margin:0;
}


p {

}

a, a:visited {
    text-decoration:none;
    color: {{ page.PurplishRed }};
}

a:hover{
    text-decoration:underline;
}

#menu ul{
    color:black;
    text-align:right;
    margin:0;
    padding: 30px 0px 15px 0px;
}

#menu li{
    display:inline;
}

#menu a, #menu a:visited {
    color:black;
    font-weight:bold;
    text-decoration:none;
    padding: 8px 20px 5px 20px;
}


#menu a:hover, #menu a.active {
    border-bottom:3px solid {{ page.LightBlue }};
}

#menu a.active {
    background: {{ page.LightBlue }};
    color:white;
    border-radius: 3px;
}

#menu a:active{
    position: relative;
    top: 1px;
}

#homepanel {
    padding:50px 15px 0px 15px;
    background: #ececec;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #d3d7cf inset;
}

#homepanel img {
    display:block;
    margin:auto;
}

#hometitle {
    font-family: "cantarell", sans-serif;
    font-size:2.5em;
    color: #4378c8;
    text-align:center;
    margin:0;
    padding:20px 0;
}

#title {

    padding:20px 15px 20px 15px;
    background: #ececec;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #d3d7cf inset;
    font-family: "cantarell", sans-serif;
    font-size:2.5em;
    color: #4378c8;
    text-align:center;
    font-weight:normal;
}

.container {
    margin:auto;
    max-width:930px;
    padding:0 15px;
}

#content {
    margin-top:30px;
    color: #434343;

}

#maincontent {
    padding-bottom: 200px; /* footer totoal height + real padding */
}

#maincontent, #homecontent {
    max-width:585px;
}

#maincontent p{
    text-align:left;
}

#content img.right {
    float:right;
    padding:7px 0px 7px 10px;
}

#maincontent h2, #homecontent h2 {

    font-size:230%;
    color: {{ page.LightBlue }};
    font-weight:normal;
    margin: 1.2em auto 0.67em auto;

}

#maincontent h3 {

    font-size:1.5em;
    color: {{ page.LightBlack }};
    font-weight:bold;
    margin: 1.2em auto 0.67em auto;

}

#sidecontent, #homesidecontent {
    float:right;
    width:300px;
    padding-left:30px;
}


#sidemenu {
    border-left: 1px solid {{ page.LightBlue }};
    margin:0;
    list-style:none;
    padding:10px 0px 10px 0px;
}

#sidemenu ul {
    margin:0;
    list-style:none;
    padding: 0px 0px 0px 15px;
}

#sidemenu a {
    display:block;
    padding:5px 5px 5px 10px;
}

#sidemenu a.current {
    border-right:4px solid {{ page.LightBlue }};

}

#button {
    max-width:300px;
    margin:auto;
    padding:15px 0 15px 0px;
}

#button li {
    background:#ececec;
    display:block;
    margin-bottom:12px;
    border-radius:10px;
    overflow:hidden;
    color:black;
    font-size:0.875em;
}


#button li  p:first-child a {
    display:block;
    color:white;
    background-color:{{ page.LightPurplishRed }};
    font-weight:normal;
    padding:15px 0px  12px 75px;
    background-position: 15px 15px;
    background-repeat: no-repeat;
    transition: background-color 0.5s ease-in;
}

#button li  p:first-child a:hover{
        background-position: 15px -45px;
        background-color:  {{ page.PurplishRed }} ;

}


#button p{
    margin:0;
    padding:0 15px;
    text-align:left;
}

#button li  p:first-child {
    padding:0;
    font-size:2em;
    margin-bottom:15px;
    border-bottom:1px solid #c53553;
}

#button li p:last-child {
    padding-bottom:15px;
}

a.small-button-link {
    display:block;
    width:6em;
    margin:auto;
    text-align:center;
    padding:10px;
    border-radius:10px;
    background:{{ page.LightPurplishRed }};
    color:white;
    transition: background-color 0.5s ease-in;
}

a.small-button-link:hover {
    background:{{ page.PurplishRed }}
}

#donations {
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
}

#donations li {
    display:inline-block;
    vertical-align:middle;
    text-align:top;
    padding: 0px 15px;
}


#lovebar {
    clear:both;
    background: url('../media/hearthgray.png') 15px center no-repeat,  #ececec linear-gradient(to right , white  0% , #ececec 30%, #ececec 70%, white  100%) no-repeat;
    margin-top:25px;
    padding: 15px 75px 15px 75px;
}

.download {
    background-image: url('../media/download.png');
}

.star {
    background-image: url('../media/star.png');

}

#sideads {
    margin:20px 0px 20px 0px;
    text-align:center;
}

p.post-date {
    float:left;
    margin:0px 15px 0px 0px;
    padding:3px 8px 8px 8px;
    background: {{ page.LightBlue }};
    color:white;
    font-family: opensans, sans-serif;
    min-width:3em;
}
.day, .month, .year {
    display:block;
}
.day {
    font-size:200%;
}

#maincontent p.post-author {
    margin:0;
    padding:0;
}

#maincontent p.post-category {
    margin:0;
    padding:0;
    font-weight:bold;
}

#maincontent p.post-more {
    text-align:right;
}

#maincontent .post-content {
    clear:left;
    padding-top:0.5em;
    padding-bottom:2em;
}

#maincontent h2.post-title {
    margin:0;
    padding:0;

}

#maincontent h2.post-title a{
    color: {{ page.LightBlue }};
}


footer {
    clear:both;
    height: 90px;
    line-height:100%;
    margin:auto;
    padding: 30px ;
    font-size:0.875em;
    word-spacing:0.1em;
    text-align:left;
    color:#333333;
    background: #4378c8;
    background: #274c85 linear-gradient(to bottom , #305b9c  0% , #4378c8 40%) repeat-x;
}

footer p {
    margin:0;
}

footer .vcard {

    margin:10px auto 0px auto;
    padding:13px 0px 0px 55px;
    font-family: 'Open Sans', sans;

    line-height:1.1;
    background: transparent url('../media/envelope.png') no-repeat 0px 15px;
}


footer .fn{
    text-transform:uppercase;
}

footer a{
    text-decoration:none;
    font-weight:normal;
    color:white;
}

footer a:hover{
    text-decoration:underline;
    color: white;
}

code, pre{
    background: #eeeeec;
    border-radius:4px;
    border:1px solid #d3d7cf;

}

code {
    font-family:monospace;
    font-size:90%;
    padding:3px 5px;
    white-space: nowrap;

}


pre code {
    padding:0;
    white-space: pre;
    border:none;
}

pre {
padding:10px;

}

img {
max-width:100%;
}
