.~
*~
gschemas.compiled
dash-to-dock@micxgx.gmail.com.zip
*.mo
po/dashtodock.pot
stylesheet.css
Settings.ui.h
_build

debian/*debhelper*
debian/files
debian/*.substvars
debian/gnome-shell-extension-ubuntu-dock/
