/* 1px padding to trigger the dash showing */
.left #dashtodockBox {
    padding-right:1px;
}

.right #dashtodockBox {
    padding-left:1px;
}

.bottom #dashtodockBox {
    padding-top:1px;
}

.top #dashtodockBox {
    padding-bottom:1px;
}


/* Shrink the dash by reducing padding and border radius */
#dashtodockContainer.dashtodock #dash {
    border:1px;
}

#dashtodockContainer.dashtodock.left #dash {
    padding: 1px 0px;
    border-left: 0px;
    border-radius: 0px 6px 6px 0px;
}

#dashtodockContainer.dashtodock.right #dash {
    padding: 1px 0px;
    border-right: 0px;
    border-radius: 6px 0px 0px 6px;
}

#dashtodockContainer.dashtodock.top #dash {
    padding: 0px 1px;
    border-top: 0px;
    border-radius: 0px 0px 6px 6px;
}

#dashtodockContainer.dashtodock.bottom #dash {
    padding: 0px 1px;
    border-bottom: 0px;
    border-radius: 6px 6px 0px 0px;
}

#dashtodockContainer.dashtodock .dash-item-container > StButton {
    transition-duration: 250;
    background-size: contain;
}

#dashtodockContainer.dashtodock .dash-item-container > StButton {
   padding: 1px 2px;
}

/* Dash height extended to the whole available vertical space */
#dashtodockContainer.dashtodock.extended #dash {
    background: rgba(0,0,0,1);
    border:0;
    border-radius: 0;
}

/* Running and focused application style */

#dashtodockContainer.dashtodock .app-well-app.running > .overview-icon {
	background-image:none;
}

#dashtodockContainer.dashtodock .app-well-app.focused > .overview-icon {
    transition-duration: 250;
    background-gradient-start: rgba(255, 255, 255, .05);
    background-gradient-end: rgba(255, 255, 255, .15);
    background-gradient-direction: vertical;
    border-radius: 4px;
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 1);
}

#dashtodockContainer.dashtodock.left .running1 {
    background-image: url('./media/one.svg');
}

#dashtodockContainer.dashtodock.right .running1 {
    background-image: url('./media/one_rtl.svg');
}

#dashtodockContainer.dashtodock.bottom .running1,
#dashtodockContainer.dashtodock.top .running1 {
    background-image: url('./media/one_bottom.svg');
}

#dashtodockContainer.dashtodock.left .running2 {
    background-image: url('./media/two.svg');
}

#dashtodockContainer.dashtodock.right .running2 {
    background-image: url('./media/two_rtl.svg');
}

#dashtodockContainer.dashtodock.bottom .running2,
#dashtodockContainer.dashtodock.top .running2 {
    background-image: url('./media/two_bottom.svg');
}

#dashtodockContainer.dashtodock.left .running3 {
   background-image: url('./media/three.svg');
}

#dashtodockContainer.dashtodock.right .running3 {
    background-image: url('./media/three_rtl.svg');
}

#dashtodockContainer.dashtodock.bottom .running3,
#dashtodockContainer.dashtodock.top .running3 {
   background-image: url('./media/three_bottom.svg');
}

#dashtodockContainer.dashtodock.left .running4 {
    background-image: url('./media/four.svg');
}

#dashtodockContainer.dashtodock.right .running4 {
    background-image: url('./media/four_rtl.svg');
}

#dashtodockContainer.dashtodock.bottom .running4,
#dashtodockContainer.dashtodock.top .running4 {
    background-image: url('./media/four_bottom.svg');
}

#dashtodockContainer.dashtodock #dash {
    background: rgba(0,0,0,0.9);
}

