/* Shrink the dash by reducing padding and border radius */
#dashtodockContainer.shrink #dash,
#dashtodockContainer.dashtodock #dash {
    border:1px;
    padding:0px;
}

#dashtodockContainer.shrink.left #dash,
#dashtodockContainer.dashtodock.left #dash {
    border-left: 0px;
    border-radius: 0px 9px 9px 0px;
}


#dashtodockContainer.shrink.right #dash,
#dashtodockContainer.dashtodock.right #dash {
    border-right: 0px;
    border-radius: 9px 0px 0px 9px;
}


#dashtodockContainer.shrink.top #dash,
#dashtodockContainer.dashtodock.top #dash {
    border-top: 0px;
    border-radius: 0px 0px 9px 9px;
}

#dashtodockContainer.shrink.bottom #dash,
#dashtodockContainer.dashtodock.bottom #dash {
    border-bottom: 0px;
    border-radius: 9px 9px 0px 0px;
}

#dashtodockContainer.straight-corner #dash,
#dashtodockContainer.shrink.straight-corner #dash {
    border-radius: 0px;
}

/* Scrollview style */
.bottom #dashtodockDashScrollview,
.top #dashtodockDashScrollview {
    -st-hfade-offset: 24px;
}

.left #dashtodockDashScrollview,
.right #dashtodockDashScrollview {
    -st-vfade-offset: 24px;
}

#dashtodockContainer.running-dots .dash-item-container > StButton,
#dashtodockContainer.dashtodock .dash-item-container > StButton {
    transition-duration: 250;
    background-size: contain;
}

#dashtodockContainer.shrink .dash-item-container > StButton,
#dashtodockContainer.dashtodock .dash-item-container > StButton {
   padding: 1px 2px;
}

/* Dash height extended to the whole available vertical space */
#dashtodockContainer.extended.top #dash,
#dashtodockContainer.extended.right #dash,
#dashtodockContainer.extended.bottom #dash,
#dashtodockContainer.extended.left #dash {
    border-radius: 0;
}

#dashtodockContainer.extended.top #dash,
#dashtodockContainer.extended.bottom #dash {
    border-left:0px;
    border-right:0px;
}

#dashtodockContainer.extended.right #dash,
#dashtodockContainer.extended.left #dash {
    border-top:0px;
    border-bottom:0px;
}

/* Running and focused application style */

#dashtodockContainer.running-dots .app-well-app.running > .overview-icon,
#dashtodockContainer.dashtodock .app-well-app.running > .overview-icon {
	background-image:none;
}


#dashtodockContainer.running-dots .app-well-app.focused  .overview-icon,
#dashtodockContainer.dashtodock .app-well-app.focused  .overview-icon {
    background-color: rgba(238, 238, 236, 0.1);
}

#dashtodockContainer.dashtodock #dash {
    background: #2e3436;
}

#dashtodockContainer .number-overlay {
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.8);
    text-align: center;
}

#dashtodockContainer .notification-badge {
    color: rgba(255,255,255,1);
    background-color: #e95420;
    padding: 0.2em 0.5em;
    border-radius: 1em;
    font-weight: bold;
    text-align: center;
    margin: 2px;
}

#dashtodockPreviewSeparator.popup-separator-menu-item-horizontal {
    width: 1px;
    height: auto;
    border-right-width: 1px;
    margin: 32px 0px;
}
