/* Shrink the dash by reducing padding and border radius */
#dashtodockContainer.shrink #dash,
#dashtodockContainer.dashtodock #dash {
    border:1px;
    padding:0px;
}

#dashtodockContainer.shrink.left #dash,
#dashtodockContainer.dashtodock.left #dash {
    border-left: 0px;
    border-radius: 0px 6px 6px 0px;
}

#dashtodockContainer.shrink.right #dash,
#dashtodockContainer.dashtodock.right #dash {
    border-right: 0px;
    border-radius: 6px 0px 0px 6px;
}

#dashtodockContainer.shrink.top #dash,
#dashtodockContainer.dashtodock.top #dash {
    border-top: 0px;
    border-radius: 0px 0px 6px 6px;
}

#dashtodockContainer.shrink.bottom #dash,
#dashtodockContainer.dashtodock.bottom #dash {
    border-bottom: 0px;
    border-radius: 6px 6px 0px 0px;
}

/* Scrollview style */
.bottom #dashtodockDashScrollview,
.top #dashtodockDashScrollview {
    -st-hfade-offset: 24px;
}

.left #dashtodockDashScrollview,
.right #dashtodockDashScrollview {
    -st-vfade-offset: 24px;
}

#dashtodockContainer.running-dots .dash-item-container > StButton,
#dashtodockContainer.dashtodock .dash-item-container > StButton {
    transition-duration: 250;
    background-size: contain;
}

#dashtodockContainer.shrink .dash-item-container > StButton,
#dashtodockContainer.dashtodock .dash-item-container > StButton {
   padding: 1px 2px;
}

/* Dash height extended to the whole available vertical space */
#dashtodockContainer.extended.top #dash,
#dashtodockContainer.extended.right #dash,
#dashtodockContainer.extended.bottom #dash,
#dashtodockContainer.extended.left #dash {
    border-radius: 0;
}

#dashtodockContainer.extended.top #dash,
#dashtodockContainer.extended.bottom #dash {
    border-left:0px;
    border-right:0px;
}

#dashtodockContainer.extended.right #dash,
#dashtodockContainer.extended.left #dash {
    border-top:0px;
    border-bottom:0px;
}

/* Running and focused application style */

#dashtodockContainer.running-dots .app-well-app.running > .overview-icon,
#dashtodockContainer.dashtodock .app-well-app.running > .overview-icon {
	background-image:none;
}

#dashtodockContainer.running-dots .app-well-app.focused > .overview-icon,
#dashtodockContainer.dashtodock .app-well-app.focused > .overview-icon {
    transition-duration: 250;
    background-gradient-start: rgba(255, 255, 255, .05);
    background-gradient-end: rgba(255, 255, 255, .15);
    background-gradient-direction: vertical;
    border-radius: 4px;
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 1);
}

#dashtodockContainer.running-dots.left .running1,
#dashtodockContainer.dashtodock.left .running1 {
    background-image: url('./media/one.svg');
}

#dashtodockContainer.running-dots.right .running1,
#dashtodockContainer.dashtodock.right .running1 {
    background-image: url('./media/one_rtl.svg');
}

#dashtodockContainer.running-dots.bottom .running1,
#dashtodockContainer.dashtodock.bottom .running1 {
    background-image: url('./media/one_bottom.svg');
}

#dashtodockContainer.running-dots.top .running1,
#dashtodockContainer.dashtodock.top .running1 {
    background-image: url('./media/one_top.svg');
}

#dashtodockContainer.running-dots.left .running2,
#dashtodockContainer.dashtodock.left .running2 {
    background-image: url('./media/two.svg');
}

#dashtodockContainer.running-dots.right .running2,
#dashtodockContainer.dashtodock.right .running2 {
    background-image: url('./media/two_rtl.svg');
}

#dashtodockContainer.running-dots.bottom .running2,
#dashtodockContainer.dashtodock.bottom .running2 {
    background-image: url('./media/two_bottom.svg');
}

#dashtodockContainer.running-dots.top .running2,
#dashtodockContainer.dashtodock.top .running2 {
    background-image: url('./media/two_top.svg');
}

#dashtodockContainer.running-dots.left .running3,
#dashtodockContainer.dashtodock.left .running3 {
   background-image: url('./media/three.svg');
}

#dashtodockContainer.running-dots.right .running3,
#dashtodockContainer.dashtodock.right .running3 {
    background-image: url('./media/three_rtl.svg');
}

#dashtodockContainer.running-dots.bottom .running3,
#dashtodockContainer.dashtodock.bottom .running3 {
   background-image: url('./media/three_bottom.svg');
}

#dashtodockContainer.running-dots.top .running3,
#dashtodockContainer.dashtodock.top .running3 {
   background-image: url('./media/three_top.svg');
}

#dashtodockContainer.running-dots.left .running4,
#dashtodockContainer.dashtodock.left .running4 {
    background-image: url('./media/four.svg');
}

#dashtodockContainer.running-dots.right .running4,
#dashtodockContainer.dashtodock.right .running4 {
    background-image: url('./media/four_rtl.svg');
}

#dashtodockContainer.running-dots.bottom .running4,
#dashtodockContainer.dashtodock.bottom .running4{
    background-image: url('./media/four_bottom.svg');
}

#dashtodockContainer.running-dots.top .running4,
#dashtodockContainer.dashtodock.top .running4 {
    background-image: url('./media/four_top.svg');
}

#dashtodockContainer.dashtodock #dash {
    background: rgba(0,0,0,0.9);
}

#dashtodockContainer.dashtodock:overview #dash {
    background: rgba(0,0,0,0.5);
    transition-duration: 250ms;
}
