<!DOCTYPE html>
<html lang="en">
{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}{% capture relative %}{% if lvl < '3' %}.{% else %}{% for i in (3..lvl) %}{% capture ii %}{{ i }}{% endcapture %}..{% if ii < lvl %}/{% endif %}{% endfor %}{% endif  %}{% endcapture %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title != '' %}{{page.title}} - {% endif %}Dash to dock GNOME Shell Extension</title>
  <meta name="description" content="A dock for the GNOME Shell.This extension
  moves the dash out of the overview transforming it in a dock for an easier
  launching of applications and a faster switching between windows and desktops.">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="{{ relative }}/css/syntax.css" />
  <link rel="stylesheet" type="text/css" href="{{ relative }}/css/style.css" />
  {% include analytics.html %}
</head>

<body>

<header>
  <div class="container">
    <h1> Dash to Dock</h1>
    <h2>(GNOME Shell  Extension)</h2>

    <nav id="menu">
      <ul>
        <li><a {% if page.isHome %}class="active"{% endif %} href="{{ relative }}/index.html">Overview</a></li>
        <li><a {% if page.section == 'download' %}class="active"{% endif %} href="{{ relative }}/download.html">Download</a></li>
        <li><a {% if page.section == 'development' %}class="active"{% endif %} href="{{ relative }}/development.html">Development</a></li>
    </ul>
    </nav>
  </div>
</header>

