</div>
<footer>
  <div class="container">
    <p>Made by:</p>
    <div class="vcard">
      <p class="fn">Michele</p>
      <p>
          <a class="email" href="mailto:mic2xg7x@gmail.com">mic2xg7x@gmail.com</a> (Remove the numbers from the email address)
      </p>
    </div>
    <p>Source code on <a href="https://github.com/micheleg/dash-to-dock">GitHub</a>.</p>
    <p>Dash to Dock exists in the first place to suit my own needs. However, it might be usefull to you too. This software is distributed under the terms of the <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GNU General Public License, version 2 or later</a>.</p>
  </div>
</footer>

<script src="{{ relative }}/js/jquery-2.0.3.min.js"></script>
<script src="{{ relative }}/js/main.js"></script>

</body>
</html>
