<!DOCTYPE html>
<html lang="en">
{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}{% capture relative %}{% if lvl < '3' %}.{% else %}{% for i in (3..lvl) %}{% capture ii %}{{ i }}{% endcapture %}..{% if ii < lvl %}/{% endif %}{% endfor %}{% endif  %}{% endcapture %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title != nil %}{{page.title}} - {% endif %}Dash to dock GNOME Shell extension</title>
  <meta name="description" content="{% if page.description != nil %}{{page.description}}{% else %}A dock for the Gnome Shell. This extension moves the dash out of the overview transforming it in a dock for an easier launching of applications and a faster switching between windows and workspaces.{% endif %}">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="{{ relative }}/css/syntax.css" />
  <link rel="stylesheet" type="text/css" href="{{ relative }}/css/style.css" />
  <link rel="alternate" type="application/atom+xml" href="{{ relative }}/feed/atom.xml">
  <link rel="shortcut icon" href="{{ relative}}/favicon.ico" />
  {% include analytics.html %}
</head>
<body>
<div id="main">
<header>
  <div class="container">
    <h1> <a href="{{ relative }}/index.html">Dash to Dock</a></h1>
    <h2>GNOME Shell Extension</h2>
    <nav id="menu">
      <ul>
        <li><a {% if page.isHome %}class="active"{% endif %} href="{{ relative }}/index.html">Overview</a></li>
        <li><a {% if page.section == 'news' %}class="active"{% endif %} href="{{ relative }}/news/index.html">News</a></li>
        <li><a {% if page.section == 'download' %}class="active"{% endif %} href="{{ relative }}/download.html">Download</a></li>
        <li><a {% if page.section == 'development' %}class="active"{% endif %} href="{{ relative }}/development.html">Development</a></li>
        <li style="margin-left: 30px;">{%include github.html%}</li>
        <li><a style="border:none" href="{{ relative }}/feed/atom.xml" onClick="ga('send', 'event', 'Engagement', 'ATOM feed', '');"><img src="{{ relative }}/media/rssicon.png" alt="ATOM Feed"/></a></li>
    </ul>
    </nav>
  </div>
</header>

