Source: gnome-shell-extension-ubuntu-dock
Section: gnome
Priority: optional
Maintainer: Didier Roche <didrocks@ubuntu.com>
Build-Depends: debhelper (>= 10),
               libglib2.0-bin,
Standards-Version: 4.0.0
Homepage: https://micheleg.github.io/dash-to-dock

Package: gnome-shell-extension-ubuntu-dock
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Ubuntu Dock for GNOME Shell
 A dock for the Gnome Shell, default Ubuntu experience.
 .
 This extension is a modified version of Dash To Dock with different defaults.
 Dash To Dock can be installed to replace it and give more (but unsupported)
 configuration options.
