<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title != '' %}{{page.title}} - {% endif %}Dash to dock GNOME Shell Extension</title>
  <meta name="description" content="A dock for the GNOME Shell.This extension
  moves the dash out of the overview transforming it in a dock for an easier
  launching of applications and a faster switching between windows and desktops.">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="css/syntax.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  {% include analytics.html %}
</head>

<body>

<header>
  <div class="container">
    <h1> Dash to Dock</h1>
    <h2>(GNOME Shell  Extension)</h2>

    <nav id="menu">
      <ul>
        <li><a {% if page.isHome %}class="active"{% endif %} href="index.html"> Overview</a></li>
        <li><a {% if page.section == 'download' %}class="active"{% endif %} href="./download.html">Download</a></li>
        <li><a {% if page.section == 'development' %}class="active"{% endif %} href="./development.html">Development</a></li>
    </ul>
    </nav>
  </div>
</header>

{% if page.isHome %}
<div id="homepanel" class="container">
    <img src="./media/screenshot.jpg" width="560px"/>
    <p id="hometitle">A dock for the GNOME Shell.</p>
</div>

<div class="container">
    <div id="homesidecontent">
        <div id="sideads">
          {% include side_ads.html %}
        </div>
    </div>
    <div id="homecontent" >
        <h2>Simple, fully integrated into GNOME Shell</h2>

        <p><em>Dash to dock</em> extension is an <strong>enhanced dash</strong> for GNOME Shell. It moves the default dash out of the overview and <strong>transforms it in a dock</strong> for an <strong>easier launching</strong> of applications and a <strong>faster switching</strong> between windows and workspaces without leaving the desktop view.
    </div>

    <div id="lovebar">
    <ul id="donations">
      <li>
        {%include flattr.html%}
      </li>
      <li>
          {%include donate_paypal.html%}
      </li>
      <li>
          {%include gplus.html%}
      </li>
      <li>
          {%include facebook.html%}
      </li>
    </ul>
    </div>
</div>
{% else %}
<!--<h2 id="title" class="container">
  {{ page.title }}
</h2>-->
{% endif %}

<div id="content" class="container" >
  <div id="sidecontent">
  {% if page.isHome %}
  <ul id="button">
    <li>
      <p><a class="download" href="./download.html">Get it</a></p>
      <p>Obtain the latest version of Dash to Dock extension. <a href="./download.html">Various installation methods</a> are available.</p>
    </li>
  </ul>

  {% else %}
  {% include side_navigation.html items="a b c d" %}
  <div id="sideads">
    {% include side_ads.html %}
  </div>
  {% endif %}
</div>

<div id="maincontent">
  {{ content }}
</div>

</div>

<footer>
  <div class="container">
    <p>Maintained by</p>
    <div class="vcard">
      <p class="fn">Michele</p>
      <p>
          <a class="email" href="mailto:mic2xg7x@gmail.com">mic2xg7x@gmail.com</a> (Remove the numbers from the email address)
      </p>
    </div>
  </div>
</footer>

{% include statcounter.html %}

<script src="js/jquery-2.0.3.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>
