---
section: news
---

{% include default_header.html %}
<div id="content" class="container" >
  <div id="sidecontent">
  <div id="sideads">
    {% include side_ads.html %}
  </div>
</div>
<div id="maincontent">
<p class="post-date"><span class="day">{{ page.date | date: "%d " }}</span><span class="month">{{ page.date | date: "%B " }}</span><span class="year">{{ page.date | date: "%Y " }}</span></p>
<p class="post-category">{{ page.category }}</p>
<h2 class="post-title"><a href="{{ relative }}{{ page.url }}">{{ page.title }}</a></h2>
<div class="post-content">
{% capture hrefrel %}{{ 'href="' | append:relative | append:'/' }}{% endcapture %}
{{ content | replace:'href="/',hrefrel }}
</div>

{% include link_unit_ads.html %}

<!-- Pagination links -->
<div class="pagination">
  {% if page.previous %}
    <a href="{{ relative }}{{ page.previous.url }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  {% if page.next %}
    <a href="{{ relative }}{{ page.next.url }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
</div>
</div>
{% include default_footer.html %}
